<!DOCTYPE html>
<html>
    <head>
        <link href="css/style.css"/ rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Gotu&family=Overpass+Mono&display=swap" rel="stylesheet">
    </head>
    <body>
        <h1>About us</h1>
        <p>We're a great company making webpages!</p>
        <a href="/">Home</a>
    </body>
</html>