<!DOCTYPE html>
<html>
    <head>
        <link href="css/style.css"/ rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Gotu&family=Overpass+Mono&display=swap" rel="stylesheet">
    </head>
    <body>
        <h1>Employee Details</h1>
        <h2>{{employee}}</h2>
        {{#with details}}
        <ul>
            <li>{{title}}</li>
            <li>{{years}} years</li>
            <li>${{salary}}</li>
        </ul>
        {{/with}}
        <a href="/">Home</a>
    </body>
</html>