body {
    background-color: #F1FAEE;
    color: #1d3557;
    font-family: 'Overpass Mono', monospace;
}

form > * {
    display: block;
    margin-top: 5px;
}

footer, button {
    margin-top: 15px;
}

button {
    color: #F1FAEE;
    border: 3px solid #1d3557;
    border-radius: 5px;
    background-color: #1d3557;
    padding: 10px 15px;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    margin-right: 10px;
}

button:hover {
    color: #1d3557;
    background-color: #F1FAEE;

}